# Ignore everything
/*

# Track certain files and directories
!.gitignore
!.gitattributes
!.sops.yaml
!.envrc
!apply-config.sh
!secret.sops.env

# VyOS config
!scripts/
!config-parts/
!containers/

# CI
!renovate.json5
